table#most-common-reminders {
    border-collapse: collapse;
}

table#most-common-reminders, #most-common-reminders > th, #most-common-reminders td {
    border: 1px solid #d3d6db;
    padding: 10px;
}
