<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <!-- Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="/public/favicon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.17/css/bulma.min.css">
        <script data-main="/public/scripts/dashboard.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js" defer></script>
    </head>
    <body>
        {{ content }}
    </body>
</html>
